$accent: #a594ff;

body {
  background: black;
  font-family: 'Exo 2', Serif;
  color: white;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  color: white;
  font-weight: 200;
  line-height: 1.45em;
}

a {
  text-decoration: none;
  color: $accent;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.4em;
}

h5 {
  font-size: 1.172rem;
  margin-top: 0;
  color: #999;
}

input::placeholder,
textarea::placeholder {
  color: white;
  opacity: 0.4;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.header {
  font-size: 1.25rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      color: white;
      transition: color .5s ease-in-out;
      &:hover {
        color: $accent;
      }
    }
  }

  .nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      li {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -8px;
          height: 1px;
          background: white;
          opacity: 0.5;
          transform-origin: left center;
          transform: scaleX(0);
          transition: transform .4s ease-in-out;
        }
        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }
        + li {
          margin-left: 50px;
        }
        a {
          color: white;
        }
      }
    }
  }
}

.hero {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  // border-bottom: 1px solid #222;
  &__inner {
    text-align: center;
    h1 {
      font-size: 4.5rem;
      font-weight: 200;
      max-width: 60%;
      margin: 0 auto 1rem;
    }
  }
}

.experience {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  // border-bottom: 1px solid #222;
  &__inner {
    display: flex;
    align-items: center;
    > div {
      width: 25%;
      padding: 1rem;
      text-align: center;
      + div {
        border-left: 1px solid #222;
      }
      h3 {
        color: #999;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid #222;
        line-height: 38px;
      }
      h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      h1 {
        margin-top: 0;
        font-size: 4rem;
      }
    }
  }
}

/* clear fix */
.work {
  padding: 0 5%;
  > .container {
    width: 100%;
  }
  &__inner {
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    height: 90vw;
  }
  &-item {
    width: 32%;
    margin: 0.5%;
    position: relative;
    > div {
      padding: 1rem;
      border: 1px solid #222;
    }
    img {
      margin-bottom: 15px;
    }
    h5 {
      margin-bottom: 0;
      a {
        color: white;
      }
    }
    &:hover {
      > div {
        border-color: #555;
      }
      h5 {
        color: white;
      }
    }
  }
}

.projects {
  &__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
  }
}

.project-item {
  border: 1px solid #222;
  position: relative;
  width: 31%;
  margin: 0.5%;
  img {
    transition: filter .2s ease;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }
  }
}

.project-gallery {
  padding-bottom: 5rem;
  &__inner {
    padding-right: 45%;
    > div {
      + div {
        margin-top: 1.5rem;
      }
      img {
        filter: grayscale(1);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}

.project-post {
  &__inner {
    padding-right: 25%;
    margin-bottom: 3rem;    
  }
}

.content {
  padding-bottom: 5%;
  &__inner {
    padding-right: 25%;
  }
  &__form {
    padding-top: 2rem;
  }
  img {
    margin: 3% 0;
  }
  h1 {
    span {
      color: $accent;
    }
  }
}

.form {
  &__row {
    + .form__row {
      margin-top: 2rem;
    }
    &--hascols {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      > div {
        width: 48%;
        + div {
          margin-left: 4%;
        }
      }
    }
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Exo 2';
    border-bottom: 2px solid #222;
    color: white;
    padding: 1rem 0;
  }

  input[type="submit"] {
    font-family: 'Exo 2';
    font-size: 2rem;
    background: transparent;
    border: none;
    color: white;
    font-weight: 300;
    border: 1px solid #444;
    border-radius: 50%;
    padding: 5px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    transition: border-color .2s ease-in-out;
    &:hover {
      border-color: white;
    }
  }
}

.footer {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    > div {
      width: 33.333%;
    }
  }
  &-center {
    text-align: center;
    a {
      color: white;
    }
  }
  &-right {
    text-align: right;
    span {
      position: relative;
      top: -3px;
    }
  }
}

.transition {
  > span {
    background: #111;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    &:nth-child(2) {
      background: #222;
    }
    &:nth-child(3) {
      background: #333;
    }
  }
}